<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
    <title>Edit Password</title>
</head>
<body>
    <nav class="main-content-nav">
        <p class="heading">Edit password</p>
        <ul>
            <li><a href="/logout">log out</a></li>
            <li><a href="/edit_profile">edit profile</a></li>
        </ul>
    </nav> 
    <main class="main-content-container">
        <section id="password-form" class="form-style">
            {% if messages %}
            {% for message in messages %}
            <p class="error">{{ message }}</p>
            {% endfor %}
            {% endif %}
            <p class="main-content-heading">edit your password</p>
            <form action="/password/" method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <input class="submit" type="submit" value="Edit Password">
            </form>
        </section>
    </main>
</body>
</html>